<footer class="site">
    &copy;Collectible Card Trading
    <ul class="float">
        <li class="inline"><a href="/about">About</a></li>
        <li class="inline"><a href="/contact">Contact</a></li>
    </ul>
</footer>
</body>
</html>