<%- include('./partials/header.ejs')%>
<main class="home">
    <section>
        <h3>This site has been created as a place for trading cards from many popular trading card games.</h3>
    </section>
</main>
<%- include('./partials/footer.ejs')%>