<%- include('./partials/header.ejs')%>
<main class="home">
    <section>
        <h3>We can be reached at collectiblecardtrading@gmail.com</h3>
    </section>
</main>
<%- include('./partials/footer.ejs')%>