<%- include('./partials/header.ejs')%>
        <main class="home">
            <section>
                <h2>Welcome to Collectible Card Trading!</h2>
                <p>The premier site for exchanging collectible trading cards.</p>
            </section>
        </main>
<%- include('./partials/footer.ejs')%>